# Flask Application Configuration
FLASK_APP=run.py
FLASK_ENV=development  # Options: development, production
FLASK_DEBUG=1  # Set to 0 in production

# Add your environment-specific variables below
# DATABASE_URL=your_database_url_here
# SECRET_KEY=your_secret_key_here
# API_KEY=your_api_key_here 